@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --bg-color: #002e2e;
  --slide-border-color: #40e600;
  --text-color: #59fd1a;
  --nav-btn-color: #46fd00;
  --nav-btn-hover-color: #3aca02;
  --nav-btn-border-color: #3cd400;
  --nav-btn-shadow-color: #46fd00;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 160%;
  color:  var(--text-color);
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: none;
}

.slider {
  margin-top: 10vh;
  height: 80%;
  width: 80%; 
  overflow: hidden;
}

.slider__items {
  width: 100%;
  height: auto;
  display: flex;
}

.slider__item {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  border: 0.2rem solid var(--slide-border-color);
  transition: all 0.3s linear;
}

.slider__nav {
  margin-top: 3vw;
  margin-bottom: 10vh;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__descriptions {
  width: 24rem;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 2rem;
}

.slider__description {
  min-width: 24rem;
  white-space: nowrap;
  transition: all 0.3s linear;
}

.slider__nav-btns,
.slider__nav-btn {
  display: flex;
}

.slider__nav-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider__nav-btn:hover span {
  background-color: var(--nav-btn-hover-color);
}

.slider__nav-btn>span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--nav-btn-color);
  box-shadow: 0rem 0.1rem 0.5rem 0rem var(--nav-btn-shadow-color); 
  transition: all 0.2s linear;
}

#btn-1:checked ~ .slider #btn-span-1,
#btn-2:checked ~ .slider #btn-span-2,
#btn-3:checked ~ .slider #btn-span-3,
#btn-4:checked ~ .slider #btn-span-4 {
  border: 0.2rem solid var(--nav-btn-border-color);
  background-color: transparent;
}

#btn-1:checked ~ .slider .slider__description {
  transform: translateX(0);
}

#btn-2:checked ~ .slider .slider__description {
  transform: translateX(-100%);
}

#btn-3:checked ~ .slider .slider__description {
  transform: translateX(-200%);
}

#btn-4:checked ~ .slider .slider__description {
  transform: translateX(-300%);
}

#btn-1:checked ~ .slider .slider__item {
  transform: translateX(0);
}

#btn-2:checked ~ .slider .slider__item {
  transform: translateX(-100%);
}

#btn-3:checked ~ .slider .slider__item {
  transform: translateX(-200%);
}

#btn-4:checked ~ .slider .slider__item {
  transform: translateX(-300%);
}

@media (max-width: 768px) {
  .slider__nav {
    margin-top: 2rem;
    height: 8rem;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .slider__descriptions {
    align-self: start;
  }
}

@media (max-width: 430px) {
  .slider__nav {
    margin-top: 1rem;
    height: 6rem; 
    gap: 1rem;   
  }

  .slider__descriptions {
    font-size: 1.5rem;
  }

  .slider__nav-btn>span {
    width: 1rem;
    height: 1rem;
  }
}